{# {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#} {% include "./admin/layouts/header/drinks.html.twig" %}

<section class="signin-area signin-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="mb-5">
                    <h1 class="text-center">
                        {{ title }}
                    </h1>
                </div>
                {{
                    form_start(form, {
                        attr: {
                            novalidate: "novalidate",
                            id: "drinkForm"
                        }
                    })
                }}
                <div class="signin-form form-style-two rounded-buttons">
                    <div class="row">
                        <div class="col-md-12">
                            {% if form_errors(form.imageFile) %}
                            <div
                                class="form-input alert alert-danger"
                                role="alert"
                            >
                                {{ form_errors(form.imageFile) }}
                            </div>
                            {% endif %}
                            <div class="form-input">
                                <label>Entrer l'image du produit</label>
                                <div class="">
                                    {{ form_widget(form.imageFile) }}
                                </div>
                            </div>
                            <!-- form input -->
                        </div>
                        <div class="col-md-12">
                            {% if form_errors(form.name) %}
                            <div
                                class="form-input alert alert-danger"
                                role="alert"
                            >
                                {{ form_errors(form.name) }}
                            </div>
                            {% endif %}
                            <div class="form-input">
                                <label>Entrer le nom de la boisson</label>
                                <div class="input-items default">
                                    {{
                                        form_widget(form.name, {
                                            attr: {
                                                placeholder: "Name"
                                            }
                                        })
                                    }}
                                    <i class="fa fa-edit"></i>
                                </div>
                            </div>
                            <!-- form input -->
                        </div>
                        <div class="col-md-12">
                            {% if form_errors(form.price) %}
                            <div
                                class="form-input alert alert-danger"
                                role="alert"
                            >
                                {{ form_errors(form.price) }}
                            </div>
                            {% endif %}
                            <div class="form-input">
                                <label>Entrer le prix</label>
                                <div class="input-items default">
                                    {{
                                        form_widget(form.price, {
                                            attr: {
                                                placeholder: "Prix"
                                            }
                                        })
                                    }}
                                    <i class="fa fa-edit"></i>
                                </div>
                            </div>
                            <!-- form input -->
                        </div>
                        <div class="col-md-12">
                            <div class="form-input">
                                <label>Ajouter une taille</label>
                                <div class="input-items default">
                                    <ul
                                        class="sizes"
                                        data-index="{{ form.size|length > 0 ? form.size|last.vars.name + 1 : 0 }}"
                                        data-prototype="{{ form_widget(form.size.vars.prototype)|e('html_attr') }}"
                                    >
                                        {% if form.size|length > 0%} {% for size
                                        in form.size %}
                                        <li name="tags">
                                            {{ form_row(size.sizeName) }}
                                            {{ form_row(size.newPrice) }}
                                        </li>
                                        {% endfor %} {% endif %}
                                    </ul>
                                    <a
                                        href="#"
                                        onclick="event.preventDefault()"
                                        style="margin-bottom: 1rem"
                                        class="btn btn-primary btn-sm add_item_link"
                                        data-collection-holder-class="sizes"
                                    >
                                        Add a size
                                    </a>
                                </div>
                            </div>
                            <!-- form input -->
                        </div>
                        <div class="col-md-12">
                            <div class="form-input rounded-buttons">
                                <button
                                    class="btn btn-lg btn-block"
                                    style="background-color: #ffbe33"
                                    type="submit"
                                >
                                    {{ button_label|default('Enregistrer') }}
                                </button>
                            </div>
                            <!-- form input -->
                        </div>
                    </div>
                </div>
                <!-- signin form -->
                {{ form_end(form) }}
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!--====== SIGNIN ONE PART ENDS ======-->
