{% extends 'base.html.twig' %} {% block main %} {#
<div style="background-color: #222831; padding: 100px">
    <h1 class="text-center text-white">Reservation</h1>
</div>
#}
<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="mb-4">
            <small>{{ form_errors(form) }}</small>
            {{ form_errors(form.date_debut) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.phone_number) }}
            {{ form_errors(form.name) }}
            {{ form_errors(form.number_of_person) }}
            {{ form_errors(form.duration) }}
        </div>
        <div class="heading_container">
            <h2>Book A Table</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    {{
                        form_start(form, {
                            attr: {
                                novalidate: "novalidate",
                            }
                        })
                    }}
                    {#
                    <div>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Your Name"
                        />
                    </div>
                    #}
                    {{ form_widget(form.name, {'attr':{placeholder:'Your Name'

















                    }}) }} {#
                    <div>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Phone Number"
                        />
                    </div>
                    #}
                    {{
                        form_widget(form.phone_number, {
                            attr: {
                                placeholder: "Phone Number"
                            }
                        })
                    }}
                    {#
                    <div>
                        <input
                            type="email"
                            class="form-control"
                            placeholder="Your Email"
                        />
                    </div>
                    #}
                    {{
                        form_widget(form.email, {
                            attr: { placeholder: "Your email" }
                        })
                    }}
                    {#
                    <div>
                        <select class="form-control nice-select wide">
                            <option value="" disabled selected>
                                How many persons?
                            </option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                    </div>
                    #}
                    {{
                        form_widget(form.number_of_person, {
                            attr: { placeholder: "How many persons?" }
                        })
                    }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_widget(form.date_debut) }}
                        </div>
                        <div class="col-md-6">
                            {{
                                form_widget(form.duration, {
                                    attr: { placeholder: "Durée?" }
                                })
                            }}
                        </div>
                    </div>
                    <div class="btn_box">
                        <button class="mt-0" type="submit">Book Now</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end book section -->

{% endblock %}
