{% extends "/account/index.html.twig" %} {% block content %} {% for label,
messages in app.flashes %} {% for message in messages %}
<div class="alert alert-{{ label }} text-center" role="alert">
    {{ message }}
</div>
{% endfor %}{% endfor %}
{{
    form_start(form, {
        attr: {
            novalidate: "novalidate",
            id: "addressForm"
        }
    })
}}
{{ form_widget(form) }}
<button class="btn btn-lg btn-block" style="background-color: #ffbe33">
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
{% endblock %}
