{% extends "/account/index.html.twig" %} {% block content %}
{{
    form_start(form, {
        attr: {
            novalidate: "novalidate",
            id: "addressForm"
        }
    })
}}
{{ form_widget(form) }}
<button class="btn btn-lg btn-block" style="background-color: #ffbe33">
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
<a
    class="btn btn-lg btn-block btn-dark mt-2"
    href="{{ path('app_account_address') }}"
    >retour</a
>
{% endblock %}
