{% extends './admin/index.html.twig' %} {% block content %}
<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-5 border-bottom"
>
    <h1 class="h2">Reports</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ path('app_report_new') }}" class="add text-white">
            <i class="fa fa-plus"></i> Ajouter
        </a>
    </div>
</div>
{% for row in years %} {% if reports[row.label] | length > 0 %}
<h3 style="float: right">{{ row.label }}</h3>
<div class="table-responsive mb-3">
    <h5>Total : {{ reports[row.label] | length }}</h5>
    <br />
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mois</th>
                <th>Resultat d'exploitation</th>
                <th>Resultat financier</th>
                <th>Resultat courant</th>
                <th>Resultat non courant</th>
                <th>Resulat avant impot</th>
                <th>Impot</th>
                <th>Result net</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports[row.label] %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.month.label }}</td>
                <td>{{ report.exploitationResult }}</td>

                <td>{{ report.financialResult }}</td>
                <td>{{ report.currentResult }}</td>

                <td>{{ report.noCurrentResult }}</td>
                <td>{{ report.resultBeforeImpot }}</td>
                <td>{{ report.impot }}</td>
                <td>{{ report.resultNet }}</td>
                <td>
                    <div class="d-flex">
                        <div class="mr-2">
                            <a
                                class="btn btn-sm btn-success"
                                href="{{
                                    path('app_report_show', { id: report.id })
                                }}"
                                ><i class="fa fa-eye"></i
                            ></a>
                        </div>
                        <div class="mr-2">
                            <a
                                class="btn btn-sm btn-primary"
                                href="{{
                                    path('app_report_edit', { id: report.id })
                                }}"
                                ><i class="fa fa-pencil-alt"></i
                            ></a>
                        </div>
                        <div>
                            {{
                                include(
                                    "admin/report/actions/_delete_form.html.twig"
                                )
                            }}
                        </div>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %} {% endfor %} {% endblock %}
